﻿@using Feedle.Pages
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 fixed-top">
    <div class="col-1"></div>
    <a class="navbar-brand" href="#">
        <img src="/extra/9742 feedle_RB_1.png" height="39" class="d-inline-block align-top" alt="" loading="lazy">
    </a>

    <button @onclick="ToggleNavMenu" class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
             aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="@NavMenuCssClass navbar-collapse d-sm-inline-flex flex-sm-row-reverse" @onclick="CollapseNavMenu">
        <div class="navbar-nav">
            @if (!collapseNavMenu)
            {
                <AuthorizeView>
                    <NotAuthorized>
                        <li class="nav-item">
                            <div class="row">
                                <RadzenIcon Icon="person"></RadzenIcon>
                                <a class="nav-link "
                                   href="Login">
                                    <h6>Log in</h6>
                                </a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="row">
                                <RadzenIcon Icon="how_to_reg"></RadzenIcon>
                                <a class="nav-link "
                                   href="Login">
                                    <h6>Sign up</h6>
                                </a>
                            </div>
                        </li>
                    </NotAuthorized>
                    <Authorized>

                        <li class="nav-item">
                            <div class="row">
                                <RadzenIcon Icon="person"></RadzenIcon>
                                <a class="nav-link "
                                   href="Profile">
                                    <h6>Profile</h6>
                                </a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <div class="row">
                                <RadzenIcon Icon="chat_bubble"></RadzenIcon>
                                <a class="nav-link "
                                   href="Chat">
                                    <h6>Chat</h6>
                                </a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <div class="row">
                                <RadzenIcon Icon="notifications"></RadzenIcon>
                                <a class="nav-link "
                                   href="Notifications">
                                    <h6>Notifications</h6>
                                </a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="row">
                                <RadzenIcon Icon="lock">LogOut</RadzenIcon>
                                <a class="nav-link "
                                   href="LogOut">
                                    <h6>Log out</h6>
                                </a>
                            </div>
                        </li>

                    </Authorized>
                </AuthorizeView>
            }


            @if (collapseNavMenu)
            {
                <AuthorizeView>
                    <Authorized>
                        <RadzenMenu>
                            <RadzenMenuItem Text="" Icon="person">
                                <RadzenProfileMenuItem Text="Profile" Path="/Profile" Icon="person"></RadzenProfileMenuItem>
                                <RadzenProfileMenuItem Text="Chat" Path="/Chat" Icon="chat_bubble"></RadzenProfileMenuItem>
                                <RadzenProfileMenuItem Text="Notifications" Path="/Notifications" Icon="notifications"></RadzenProfileMenuItem>
                                <RadzenProfileMenuItem Text="Log Out" Path="/LogOut" Icon="lock"></RadzenProfileMenuItem>
                            </RadzenMenuItem>
                        </RadzenMenu>
                    </Authorized>
                    <NotAuthorized>

                        <RadzenMenu>
                            <RadzenMenuItem Text="" Icon="person_outline">
                                <RadzenProfileMenuItem Text="Login" Path="/Login" Icon="lock_open"></RadzenProfileMenuItem>
                                <RadzenProfileMenuItem Text="Sign Up" Path="/SignUP" Icon="how_to_reg"></RadzenProfileMenuItem>
                            </RadzenMenuItem>
                        </RadzenMenu>
                    </NotAuthorized>
                </AuthorizeView>
            }
        </div>
    </div>
    <div class="col-1"></div>
</nav>


@code {
    bool collapseNavMenu = true;


    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    void CollapseNavMenu()
    {
        collapseNavMenu = true;
    }

}