# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.News-Platform.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\pavli\IdeaProjects\SEP3\Front-end\.idea\.idea.News-Platform\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
