# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Feedle.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\OneDrive - ViaUC\Semester_3\DNP1\Feedle\.idea\.idea.Feedle\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
